<div class="header-outer md-border-bottom fill-white xs-fixed xs-t0 xs-z1">
    <div class="header-inner clearfix">
        <div class="col md-col-1">
            <a href="/"><div class="header-logo xs-m*1"></div></a>
        </div>
        <div class="col md-col-7">.</div>
        <div class="col md-col-1">
            <a href="/">
                <div class="menu-item">
                    Home
                </div>
            </a>
        </div>
        <div class="col md-col-1">
            <a href="/glossary">
                <div class="menu-item">
                    Glossary
                </div>
            </a>
        </div>
        <div class="col md-col-1">
            <a href="/about/">
                <div class="menu-item">
                    About
                </div>
            </a>
        </div>
    </div>
</div>
